/*--------------------------------------------------------------
7.0 Carousel
--------------------------------------------------------------*/
.carousel {
  width: 100%;
  margin: auto;
  overflow-y: visible;

}
@media(min-width:768px) {
  .carousel {
    width: 80%;
  }
}
@media(min-width:1100px) {
  .carousel {
    width: 85%;
  }
}
@media(min-width:1500px) {
  .carousel {
    width: 90%;
  }
}

.carousel-inner {
    position: relative;
    width: 100%;
    
}

.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}


@media screen and (min-width: 768px) {
.carousel-indicators {
    bottom: 20px;
}
}

.carousel-indicators {
        position: absolute;
    bottom: 40VH;
    left: -53px;
    z-index: 15;
    width: 0;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 3px solid #000;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 10px;
    height: 4px;
    margin: 2px 0;
    margin-left: 0px;
    background-color: #000;
    border-radius: 0;
    border: none;
}



.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}

.carousel-control.left{
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}



/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
