/*--------------------------------------------------------------
3.0 Porftolio
--------------------------------------------------------------*/

$bg-body   : #fafafa;
$bg-header : #303746;
 
$color-base  : #353537;
$color-name  : #e0e0e0;
$color-title : #6b919f;
 
$font-body  : 'Open Sans', Arial, sans-serif;
$font-name  : 'Cantata One', Georgia, Times, serif;


body {
    header {
        background-color: $bg-body;
        color: $color-base;
        font-weight: 300;
    }
}



.portfolio-header {
    padding :50px 0;
    background-color: $bg-header;
    text-align: center;

            .profile-avatar img {
                size: 80px;
            }
            .profile-name {
                font-size: 24px;
                margin-bottom: 10px;
                color: $color-name;
                font-family: $font-name;
                font-weight: 400;
            }
            .profile-fields {
                max-width:320px;
                font-size:14px;
                color: $color-name;
                margin-left: auto;
                margin-right: auto;
                .field-list {
                    padding: 0;
                }
            .field-item {
                    display: inline-block;
                    &:after {
                        content:' ,';
            }
            &:last-child:after {
                content:'';
            }
        }
    }
    .profile-location {
        .font-size:14px;
        color: $color-name;
        &:before {
            margin-right:10px;
            font-size:18px;
        }
    }
}




.portfolio-area {
    margin:100px auto;
    max-width:100%;
    width: 100%;
    .portfolio-list {
        padding-left: 0;
    }
    .portfolio-item {
        margin-bottom:30px;
        height:320px;
        padding:0 15px;
        float: left;
        list-style-type: none;
    }
    .portfolio-content {
        text-align: center;
    }
    .portfolio-cover {
        cursor: pointer;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
        width: 100%;
    }
    .portfolio-image {
        border: 8px solid #fff;
        max-width: 100%;
    }
    .portfolio-title {
        font-size:14px;
        color: $color-title;
        text-transform: capitalize;
        vertical-align: middle;
        width: 100%;
    }
    .portfolio-fields {
        font-size:12px;
        color: grey;
        .field-list {
            padding: 0;
        }
        .field-item {
            display: inline-block;
            &:after {
                content:' ,';
            }
            &:last-child:after {
                content:'';
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .portfolio-area .portfolio-item {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .portfolio-area .portfolio-item {
        height: auto;
        width: 100%;
    }
}


@keyframes fadeInRight { 
    0% {
        transform: translateX(20px); 
        opacity: 0; 
    } 
    100%
    { 
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes fadeInLeft { 
     0% {
        transform: translateX(-20px); 
        opacity: 0; 
    } 
    100%
    { 
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes fadeOutLeft { 
    0% {
        transform: translateX(0px); 
        opacity: 1; 
    } 
    100%
    { 
        transform: translateX(20px); 
        opacity: 0; 
    }
}

@keyframes fadeOutRight { 
    0% {
        transform: translateX(0px); 
        opacity: 1; 
    } 
    100%
    { 
        transform: translateX(-20px); 
        opacity: 0; 
    }
}

@keyframes fadeInDown { 
    0% {
        transform: translateY(-20px); 
        opacity: 1; 
    } 
    100%
    { 
        transform: translateY(0); 
        opacity: 1; 
    }
}

@keyframes fadeOutDown { 
    0% {
        transform: translateY(0); 
        opacity: 1; 
    } 
    100%
    { 
        transform: translateY(20px); 
        opacity: 0; 
    }
}



.mfp-bg.animated {
    opacity: 0;
    transition: opacity 350ms ease-out;
}
.mfp-bg.mfp-ready.animated {
    opacity: 0.8;
}
.mfp-bg.mfp-removing.animated {
    opacity: 0;
}

.mfp-wrap.animated .mfp-arrow {
    animation-duration:350ms;
}
.mfp-wrap.animated .mfp-arrow-left {
    animation-name:fadeInRight;
}
.mfp-wrap.mfp-removing.animated .mfp-arrow-left {
    animation-name:fadeOutLeft;
}
.mfp-wrap.animated .mfp-arrow-right {
    animation-name:fadeInLeft;
}
.mfp-wrap.mfp-removing.animated .mfp-arrow-right {
    animation-name:fadeOutRight;
}

.intro-box {
        padding: 25px!important;
}